<li id=<%= spot.id %> class="spot-list__item">
  <%= spot.place.name %>
  <%= link_to "削除", user_course_spot_path(current_user, @course, spot), method: :delete, remote: true, data: {confirm: "本当に削除しますか？" } %>
</li>