<div class="home">
  <div class="home__form">
    <%= render "homes/form" %>
  </div>
  <% case params[:search_for] %>
  <% when "spot" %>
    <div class="home__spots-gallery">
      <div class="home__spots">
        <%= render @spots %>
      </div>
      <div class="home__page">
        <%= paginate @spots %>
      </div>
    </div>
  <% when "course" %>
    <div class="home__courses">
      <%= render "courses/table", courses: @courses %>
    </div>
  <% end %>
</div>