<div class="course-edit">
  <div class="course-edit__form"><%= render "courses/form", course: @course %></div>
  <div id="map" class="course-edit__map"></div>
</div>
<%= render "courses/map", course: @course %>