<ul class="place-list__list">
  <% current_user.places.where.not(name: @course.spots.pluck(:name)).each do |place| %>
    <li id=<%= place.id %> class="place-list__item">
      <%= place.name %>
    </li>
  <% end %>
</ul>