<div id="map" class="place-edit__map"></div>

<script>
// railsのplacesオブジェクトをjson形式に変換し、javascriptのローカル変数placesに渡す。
let places = <%= raw(places.to_json(only: [:id, :name, :latitude, :longitude, :address])) %>;
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initPlaceMap" async defer></script>