<div class="place-edit">
  <div class="place-edit__form">
    <%= render "places/form", place: @place %>
    </div>
  <div id="map" class="place-edit__map"></div>
</div>
<%= render "places/map", place: @place %>