<div class="window">
  <div class="window__form">
    <%= render "places/form", place: @place %>
  </div>
  <div class="window__display">
    <%= render "places/map", places: @places %>
  </div>
</div>