<% if resource.errors.any? %>
  <div class="errors" id="error_explanation">
    <ul class="errors__list">
      <% resource.errors.messages.each_value do |message| %>
        <li class="errors__item"><%= message[0] %></li>
      <% end %>
    </ul>
  </div>
<% end %>
